.search {
    width: 90%;
    margin: 20px auto;
    .top {
        display: flex;
        justify-content: space-between;
        font-size: 18px;
        align-items: center;
        color: #827C92;

        .head {
            text-transform: uppercase;
        }

    }
    .bot {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    
        .card {
            width: 320px;
            margin: 40px auto 20px auto;
        }
    }
}